
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box.two {
            background-color: red;
        }
        .box.three {
            background-color: blue;
        }
        [v-cloak] {
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <login-form/>
        
        <hr />
        <button @click="toggleBox">Show Box</button>
        <div v-if="isVisible" class="box"></div>
        
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'hello vue 3!',
                    isVisible: false,
                }
            },
            methods: {
                toggleBox: function() {
                    this.isVisible = !this.isVisible;
                },
                greet(greeting) {
                    console.log(greeting);
                }
            }
        })
        app.component('login-form',{
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <p v-for="(str,i) in inputs" :key ="i">{{i}}  {{str}}</p>
                    <custom-input  v-model="email" v-bind:label="emailLabel" />
                    <custom-input  v-model="password" :label="passwordLabel" />
                    <button> Login in</button>
                </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    inputs: [
                        'email',
                        'password',
                        'name'
                    ],
                    email:'',
                    password:'',
                    emailLabel:'Email',
                    passwordLabel:'Password'
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.email,this.password)
                }
            }
        })
        app.component('custom-input',{
            template:`
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue">    
                </label>
            `,
            props: ['label','modelValue'],
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue
                    },
                    set(value) {
                        
                        this.$emit('update:modelValue', value)
                    }
                }
            },
            //data() {
            //    return {
            //        inputValue: ''
            //    }
            //}
        })
        app.mount('#app')
    </script>
    
</body>
</html>